* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(221, 236, 221);
}

h1 {
  font-size: 3rem;
  padding-top: 4rem;
  padding-bottom: 2rem;
}

p {
  font-size: 1.3rem;
  color: rgb(255, 102, 0);
}

.form-group label{
  font-size: 1.3rem;
  color: rgb(3, 85, 3);
}

#name-label, #age-label, #email-label, #number-label{
  color: rgb(255, 102, 0);
}

#description {
  font-style: italic;
  color: black;
}
span {
  color: rgb(255, 102, 0);
}

.myContainer {
  max-width: 60%;
}

@media screen and (max-width: 600px) {
  .myContainer {
    max-width: 94%;
  }
}

button {
  margin-top: 2rem;
  margin-bottom: 3rem;
  padding: 0.6rem 5rem;
  color: white;
  border: none;
  border-radius: 1rem;
  background-color: rgb(3, 85, 3);
  cursor: pointer;
}

button:hover,
button:focus {
  background: rgb(218, 19, 5);
  color: black;
  margin-left: 2rem;
}

::placeholder {
  font-style: italic;
}

.copy{
  font-size: 1rem;
  font-style: italic;
  color: black;
  text-align: right;
}
